<div class="card mt-30">
    <div class="card-body p-0">
        <table class="table mb-0 table-hover">
            <tbody id="images-tbody">
            {% for image in images|default({}) %}
                <tr class="item-to-remove" data-id="{{ image.id }}">
                    <td class="align-middle" style="width: 100px;">
                        <a href="{{ cache(image.filename, 0, 0) }}" class="fancybox">
                            <img class="avatar avatar-xl" src="{{ cache(image.filename, 75, 75) }}" alt="" />
                        </a>
                    </td>
                    <td class="align-middle"><span class="badge badge-pill badge-secondary">
                            {{ image.filename|slice(0, 50) }}
                            {% if (image.filename|length > 50) %}...{% endif %}
                        </span></td>
                    <td class="align-middle text-right">
                        <p class="no-wrap mb-0">
                            <a href="#" data-toggle="modal" data-target="#modal-titles" data-id="{{ image.id }}" class="image-popup-btn btn btn-s btn-secondary"><i class="fa fa-pencil"></i></a>
                            <a href="#" class="btn btn-s btn-secondary drag-handle"><i class="fa fa-arrows"></i></a>
                            <a class="ajax-remove btn btn-s btn-secondary row-fields-component-remove-btn"
                               href="{{ url('innomedio.backend_theme.images.remove', {id: image.id}) }}"
                            ><i class="fa fa-trash"></i></a>
                        </p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>