{% extends "@InnomedioBackendTheme/backend_base.html.twig" %}

{% block content %}
    <div class="main-content pb-30">
        <div class="row">
            <div class="col-lg">
                {% if not tag|default(null) %}
                    <div class="alert alert-danger">Geen "tag" meegegeven.</div>
                {% elseif not id|default(null) %}
                    <div class="alert alert-danger">Geen ID meegegeven</div>
                {% else %}
                    <form class="dropzone dz-clickable" id="dropzone-list">
                        <input type="hidden" name="id" value="{{ id }}" />
                        <input type="hidden" name="tag" value="{{ tag }}" />

                        <div class="dz-default dz-message"><span>{{ 'innomedio.backend_theme.upload_images'|trans }}</span></div>
                    </form>

                    <div id="image-table">
                        {% include "@InnomedioBackendTheme/image/imagetable.html.twig" %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade modal-center" id="modal-titles" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="image-modal-content"></div>

                <div class="p-40 text-center" id="modal-spinner">
                    <div class="spinner-linear">
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
    <link href="{{ asset('/assets/backend/vendor/dropzone/min/dropzone.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('/assets/backend/css/jquery.fancybox.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascript %}
    <script src="{{ asset('/assets/backend/vendor/dropzone/min/dropzone.min.js') }}"></script>
    <script src="{{ asset('/assets/backend/js/jquery.fancybox.min.js') }}"></script>
    <script src="/assets/backend/vendor/jqueryui/jquery-ui.js"></script>

    <script>
        Dropzone.autoDiscover = false;

        $(document).ready(function() {
            {% if standalone|default(false) %}
                $('aside, header').remove();
            {% endif %}

            initAfterAjax();

            var dropzone = new Dropzone("#dropzone-list", {
                'url': '{{ url('innomedio.backend_theme.images.upload') }}',
                'acceptedFiles': 'image/*'
            });

            dropzone.on("success", function(file, response) {
                dropzone.removeFile(file);
                $('#image-table').html(response.html);
                initAfterAjax();
            });

            $('body').on('click', '#submit-popup', function(e) {
                e.preventDefault();
                $('#popup-title').submit();
            });
        });

        function initSortable() {
            $('#images-tbody').sortable({
                handle: ".drag-handle",
                stop: function() {
                    LoaderComponent.show();

                    var images = $('#images-tbody').find('tr');
                    var total = images.length;
                    var counter = 0;
                    var array = [];

                    images.each(function() {
                        counter++;
                        array.push($(this).data('id'));

                        if (counter >= total) {
                            $.post('{{ url('innomedio.backend_theme.images.sort') }}', {ids: array}, function(response) {
                                LoaderComponent.hide();
                            });
                        }
                    });
                }
            });
        }

        function initModal() {
            $('.image-popup-btn').on('click', function(e) {
                $('#image-modal-content').empty();
                $('#modal-spinner').show();

                $.post('{{ url('innomedio.backend_theme.images.popup') }}', {id: $(this).data('id')}, function(response) {
                    $('#image-modal-content').html(response);
                    $('#modal-spinner').hide();
                    $('#popup-title').ajaxForm({
                        'onFinished': function(result) {
                            $('#image-table').html(result.html);
                            $('#modal-titles').modal('toggle');
                            initAfterAjax();
                        }
                    });
                });
            });
        }

        function initAfterAjax()
        {
            initSortable();
            initModal();
            $('.fancybox').fancybox();
        }
    </script>
{% endblock %}