<div class="modal-body">
    {% form_theme form '@InnomedioBackendTheme/form/template-fields.html.twig' %}

    {{ form_start(form, {'action': url('innomedio.backend_theme.images.submit_form', {id: image.id}), 'attr': {'class': 'ajax-form', 'id': 'popup-title'}}) }}
        <div class="col-12">
            <div class="form-group text-fader">
                {{ form_label(form.onlyFilename) }}
                {{ form_widget(form.onlyFilename) }}
            </div>
        </div>

        {% for translation in form.translations %}
            <div class="col-12">
                <div class="d-none">
                    {{ form_label(translation.language) }}
                    {{ form_widget(translation.language) }}
                </div>

                <div class="form-group text-fader">
                    <label>Titel {{ translation.vars.value.language.code|upper }}</label>
                    {{ form_widget(translation.title) }}
                </div>
            </div>
        {% endfor %}
    {{ form_end(form) }}
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Sluiten</button>
    <button type="button" class="btn btn-bold btn-pure btn-primary" id="submit-popup">Opslaan</button>
</div>