<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="nofollow" />

    <title>{{ projectName }}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    {% block css %}{% endblock %}
    <link href="{{ asset('/assets/backend/vendor/sweetalert2/sweetalert2.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('/assets/backend/css/core.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('/assets/backend/css/app.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('/assets/backend/css/custom.css') }}" rel="stylesheet" />

    {% if innomedio_backend_extra_css|default(null) and innomedio_backend_extra_css is iterable %}
        {% for asset in innomedio_backend_extra_css %}
            <link href="{{ asset(asset) }}" rel="stylesheet" />
        {% endfor %}
    {% endif %}
</head>

<body>

<div class="preloader">
    {% if innomedio_backend_loader|default(null) %}
        {% include innomedio_backend_loader %}
    {% else %}
        <div class="spinner-dots">
            <span class="dot1"></span>
            <span class="dot2"></span>
            <span class="dot3"></span>
        </div>
    {% endif %}
</div>

<aside class="sidebar sidebar-icons-right sidebar-icons-boxed sidebar-expand-lg">
    <header class="sidebar-header">
        <span class="logo">
          <a href="{{ url('innomedio.backend_theme.dashboard') }}">{{ projectName }}</a>
        </span>
    </header>

    <nav class="sidebar-navigation">
        <ul class="menu">

            {# @var mainItem \Innomedio\BackendThemeBundle\Service\Sidebar\SidebarItem #}
            {# @var subItem \Innomedio\BackendThemeBundle\Service\Sidebar\SidebarItem #}

            {% for itemsArray in backendSidebar %}
                {% set mainItem = itemsArray.item %}

                <li id="sidebar-nav-{{ mainItem.tag }}" class="menu-item{% if mainItem.link == app.request.requestUri or (activeNav|default() == mainItem.tag) or (sidebarActiveMainItem and sidebarActiveMainItem.tag == mainItem.tag) %} active open{% endif %}">
                    <a class="menu-link" href="{% if itemsArray.items|default({})|length == 0 %}{{ mainItem.link }}{% else %}#{% endif %}">
                        <span class="icon fa {{ mainItem.icon }}"></span>
                        <span class="title">{{ mainItem.name|trans }}</span>
                        {% if itemsArray.items|default({})|length > 0 %}
                            <span class="arrow"></span>
                        {% endif %}
                    </a>

                    {% if itemsArray.items|default({})|length > 0 %}
                        <ul class="menu-submenu">
                            {% for subItem in itemsArray.items %}

                                <li class="menu-item{% if subItem.link == app.request.requestUri or (activeSubnav|default() == subItem.tag) %} active{% endif %}">
                                    <a class="menu-link" href="{{ subItem.link }}">
                                        <span class="dot"></span>
                                        <span class="title">{{ subItem.name|trans }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% elseif (itemsArray.canHaveSubitems) %}
                        <style>#sidebar-nav-{{ mainItem.tag }} { display: none; }</style>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</aside>

<header class="topbar">
    <div class="topbar-left">
        <span class="topbar-btn sidebar-toggler"><i>&#9776;</i></span>

        {% if (backendTopbar.left|default(null)) %}
            {% for topbarItem in backendTopbar.left %}
                {% include topbarItem.template %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="topbar-right">
        <ul class="topbar-btns">
            {% if (backendTopbar.right|default(null)) %}
                {% for topbarItem in backendTopbar.right %}
                    {% include topbarItem.template %}
                {% endfor %}
            {% endif %}

            {% if showSystemMessages %}
                <li class="dropdown d-none d-md-block">
                    <span class="topbar-btn {% if getBackendMessages()|length > 0 %} has-new{% endif %}" data-toggle="dropdown"><i class="ti-bell"></i></span>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                        <div class="media-list media-list-hover media-list-divided media-list-xs">
                            {% for message in getBackendMessages() %}
                                <a class="media" href="{{ message.link }}">
                                    <span class="avatar bg-{{ message.type }}"><i class="{{ message.icon }}"></i></span>
                                    <div class="media-body">
                                        <p>{{ message.text }}</p>
                                    </div>
                                </a>
                            {% endfor %}

                            {% if getBackendMessages()|length == 0 %}
                            <div class="p-15">
                                <div class="alert alert-success mb-0">{{ 'innomedio.backend_theme.no_messages'|trans }}</div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endif %}

            <!--
            <li class="dropdown d-none d-md-block">
                <span class="topbar-btn has-new" data-toggle="dropdown"><i class="ti-bell"></i></span>
                <div class="dropdown-menu dropdown-menu-right">

                    <div class="media-list media-list-hover media-list-divided media-list-xs">
                        <a class="media media-new" href="#">
                            <span class="avatar bg-success"><i class="ti-user"></i></span>
                            <div class="media-body">
                                <p>New user registered</p>
                                <time datetime="2017-07-14 20:00">Just now</time>
                            </div>
                        </a>

                        <a class="media" href="#">
                            <span class="avatar bg-info"><i class="ti-shopping-cart"></i></span>
                            <div class="media-body">
                                <p>New order received</p>
                                <time datetime="2017-07-14 20:00">2 min ago</time>
                            </div>
                        </a>

                        <a class="media" href="#">
                            <span class="avatar bg-warning"><i class="ti-face-sad"></i></span>
                            <div class="media-body">
                                <p>Refund request from <b>Ashlyn Culotta</b></p>
                                <time datetime="2017-07-14 20:00">24 min ago</time>
                            </div>
                        </a>

                        <a class="media" href="#">
                            <span class="avatar bg-primary"><i class="ti-money"></i></span>
                            <div class="media-body">
                                <p>New payment has made through PayPal</p>
                                <time datetime="2017-07-14 20:00">53 min ago</time>
                            </div>
                        </a>
                    </div>

                    <div class="dropdown-footer">
                        <div class="left">
                            <a href="#">Read all notifications</a>
                        </div>

                        <div class="right">
                            <a href="#" data-provide="tooltip" title="Mark all as read"><i class="fa fa-circle-o"></i></a>
                            <a href="#" data-provide="tooltip" title="Update"><i class="fa fa-repeat"></i></a>
                            <a href="#" data-provide="tooltip" title="Settings"><i class="fa fa-gear"></i></a>
                        </div>
                    </div>

                </div>
            </li>
            -->
        </ul>

    </div>
</header>

{% block aboveMain %}{% endblock %}

<main class="main-container">
    {% if not backendHeader.hidden() %}
    <header class="header bg-ui-general">
        <div class="header-info{% if block('tabs') is not empty %} mb-20{% endif %}">
            <h1 class="header-title w-100">
                <strong>{{ backendHeader.title() }}</strong>
            </h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url('innomedio.backend_theme.dashboard') }}">{{ 'innomedio.backend_theme.dashboard'|trans }}</a></li>

                {% for breadcrumb in backendHeader.breadcrumb() %}
                    <li class="breadcrumb-item">
                        {% if breadcrumb.url %}<a href="{{ breadcrumb.url }}">{% endif %}
                        {{ breadcrumb.title }}
                        {% if breadcrumb.url %}</a>{% endif %}
                    </li>
                {% endfor %}
            </ol>
        </div>

        <div class="header-action">
            {% block tabs %}{% endblock %}
        </div>
    </header>
    {% endif %}

    {% block content %}{% endblock %}
</main>

{% block belowMain %}{% endblock %}

<div id="qv-global" class="quickview" data-url="assets/data/quickview-global.html">
    <div class="spinner-linear">
        <div class="line"></div>
    </div>
</div>

<script>
    // Used in the RemoveDialogComponent
    var remove_dialog_messages = {
        'default_confirmation_title': '{{ 'innomedio.backend_theme.remove_confirmation.title'|trans }}',
        'default_confirmation_message': '{{ 'innomedio.backend_theme.remove_confirmation.message'|trans }}',
        'default_confirmation_success': '{{ 'innomedio.backend_theme.remove_confirmation.success'|trans }}',
        'default_confirmation_no': '{{ 'innomedio.backend_theme.global.no'|trans }}',
        'default_confirmation_yes': '{{ 'innomedio.backend_theme.global.yes'|trans }}'
    }
</script>

<script src="{{ asset('/assets/backend/vendor/sweetalert2/sweetalert2.min.js') }}"></script>
<script src="{{ asset('/assets/backend/js/core.min.js') }}"></script>
<script src="{{ asset('/assets/backend/js/app.js') }}"></script>
<script src="{{ asset('/assets/backend/js/custom.js') }}"></script>

{% if innomedio_backend_extra_js|default(null) and innomedio_backend_extra_js is iterable %}
    {% for asset in innomedio_backend_extra_js %}
        <script src="{{ asset(asset) }}"></script>
    {% endfor %}
{% endif %}

{% block javascript %}{% endblock %}

</body>
</html>
