{% extends "@InnomedioBackendTheme/backend_base.html.twig" %}

{% block content %}
    <div class="main-container">
        <div class="main-content">
            <div class="row">
            </div>
        </div>
    </div>
{% endblock %}
