{% extends "@InnomedioBackendTheme/backend_base.html.twig" %}

{% block content %}
    <div class="main-content">
        <div class="row">
            {% if backendSidebar[type].items|default({}) %}
                {% for item in backendSidebar[type].items %}
                    <div class="col-md-3">
                        <button class="btn btn-block btn-multiline btn-primary p-20 mb-30" onclick="window.location = '{{ item.link }}'">
                            <i class="fa {{ item.icon }} fs-40 mb-15"></i><br><span class="fw-300 fs-20">{{ item.name|trans }}</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}