<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>{{ projectName }}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <link href="{{ asset('/assets/backend/css/core.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('/assets/backend/css/app.min.css') }}" rel="stylesheet" />
</head>

<body>

<div class="row min-h-fullscreen center-vh p-20 m-0">
    <div class="col-12">
        <div class="card card-shadowed px-50 py-30 w-400px mx-auto" style="max-width: 100%">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<script src="{{ asset('/assets/backend/js/core.min.js') }}"></script>
<script src="{{ asset('/assets/backend/js/app.min.js') }}"></script>

</body>
</html>
