{% extends '@InnomedioBackendTheme/backend_base.html.twig' %}

{% block content %}
    <div class="main-content">
        {% form_theme form '@InnomedioBackendTheme/form/template-fields.html.twig' %}

        {{ form_start(form, {'action': url('innomedio.backend_theme.languages.submit', {id: app.request.get('id')}), 'attr': {'class': 'ajax-form'}}) }}
            <div class="col-lg-12">
                <div class="card">
                    <h4 class="card-title">{{ 'innomedio.backend_theme.data'|trans }}</h4>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-10">
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name) }}
                            </div>

                            <div class="form-group col-md-2">
                                {{ form_label(form.code) }}
                                {{ form_widget(form.code) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset('/assets/backend/vendor/formatter/jquery.formatter.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#language_code").formatter({
                'pattern': '{{ '{{aa}}' }}',
                'persistent': true
            });
        });
    </script>
{% endblock %}

