{% extends "@InnomedioBackendTheme/backend_base.html.twig" %}

{% block content %}
    <div class="main-content mb-60">
        {% if not languages %}
            <div class="card">
                <div class="card-body">
                    <div class="alert alert-danger" role="alert">
                        No languages yet...
                    </div>
                </div>
            </div>
        {% else %}
            <div class="media-list media-list-divided media-list-hover" data-provide="selectall">
                <div class="media-list-body bg-white b-1">
                    {% for language in languages %}
                        <div class="item-to-remove media align-items-center">
                            <label class="toggler fs-16">
                                <input class="language" data-id="{{ language.id }}" type="checkbox"{% if language.main %} checked{% endif %}>
                                <i class="fa fa-star"></i>
                            </label>

                            <a class="media-body text-truncate" href="{{ url('innomedio.backend_theme.languages.form', {action: 'edit', id: language.id}) }}">
                                <h5>{{ language.code|upper }}</h5>
                                <small>{{ language.name }}</small>
                            </a>

                            <div class="dropdown">
                                <a class="text-lighter" href="#" data-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt rotate-90"></i></a>
                                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                    <a class="dropdown-item" href="{{ url('innomedio.backend_theme.languages.form', {action: 'edit', id: language.id}) }}"><i class="fa fa-fw fa-pencil"></i> {{ 'innomedio.backend_theme.global.edit'|trans }}</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="ajax-remove dropdown-item"
                                       href="{{ url('innomedio.backend_theme.languages.remove', {id: language.id}) }}"
                                    ><i class="fa fa-fw fa-trash"></i> {{ 'innomedio.backend_theme.global.remove'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="fab fab-fixed">
        <a class="btn btn-float btn-primary" href="{{ url('innomedio.backend_theme.languages.form', {action: 'add'}) }}" title="" data-provide="tooltip" data-original-title="{{ 'innomedio.backend_theme.global.add'|trans }}"><i class="ti-plus"></i></a>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('input.language').on('change', function() {
                if ($(this).is(':checked')) {
                    $('input.language').prop('checked', false);
                    $(this).prop('checked', true);

                    LoaderComponent.show();

                    $.post('{{ url('innomedio.backend_theme.languages.primary') }}', {id: $(this).data('id')}, function() {
                        LoaderComponent.hide();
                    }, 'json');
                }
            });
        });
    </script>
{% endblock %}