<ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
    {% for breadcrumb in breadcrumbs() %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ breadcrumb.link }}">
                <span itemprop="name">{{ breadcrumb.text }}</span>
            </a>
        </li>
    {% endfor %}
</ul>