<div class="card card-body">
    <div class="flexbox">
        <i class="{{ icon|default('') }} fs-50" style="color: {{ iconColor|default('') }}; line-height: 20px;"></i>

        <div class="text-right">
            <span class="fw-400">{{ text|default('') }}</span><br>

            <span>
                <span class="fs-18 ml-1">{{ amount|default(0) }}</span>
            </span>
        </div>
    </div>
</div>