{% extends "@InnomedioBackendTheme/login_base.html.twig" %}

{% block content %}
    <h5 class="text-uppercase">{{ 'innomedio.backend_theme.login.title'|trans }}</h5>
    <br>

    <form class="form-type-material" action="{{ loginAction }}" method="post">
        <input type="hidden" name="_target_path" value="{{ loginRedirect }}" />

        {% if loginError %}
            <div class="alert alert-danger">{{ 'innomedio.backend_theme.login.failed'|trans }}</div>
        {% endif %}

        <div class="form-group">
            <input type="email" class="form-control" id="email" name="_username" value="{{ lastUsername }}">
            <label for="email">{{ 'innomedio.backend_theme.login.username'|trans }}</label>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" id="password" name="_password">
            <label for="password">{{ 'innomedio.backend_theme.login.password'|trans }}</label>
        </div>

        <div class="form-group">
            <button class="btn btn-bold btn-block btn-primary" type="submit">{{ 'innomedio.backend_theme.login.button'|trans }}</button>
        </div>

        {% if forgotPasswordUrl|default(false) %}
            <p class="text-center m-0">
                <a class="text-muted hover-primary fs-13 mt-2 mt-md-0" href="{{ forgotPasswordUrl }}">{{ 'innomedio.backend_theme.login.forgot_password'|trans }}</a>
            </p>
        {% endif %}
    </form>
{% endblock %}