{% extends "@InnomedioBackendTheme/login_base.html.twig" %}

{% block content %}
    <h5 class="text-uppercase">{{ 'forgot_password.title'|trans }}</h5>
    <br>

    <form class="form-type-material" action="{{ submitAction }}" method="post">
        {% if success %}
            <div class="alert alert-success">
                {{ 'forgot_password.password_sent'|trans }}<br />
                <a href="{{ returnUrl }}">{{ 'forgot_password.back_to_login'|trans }}</a>
            </div>
        {% else %}
            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" required>
                <label for="email">{{ 'login.username'|trans }}</label>
            </div>

            <div class="form-group">
                <button class="btn btn-bold btn-block btn-primary" name="submit" type="submit">{{ 'forgot_password.button'|trans }}</button>
            </div>
        {% endif %}
    </form>
{% endblock %}

