$colorWarning: #faa64b;
$colorError: #721c24;
$darkGreen: #155724;

body {

}

.preloader {
    display: none;
    background-color: rgba(255, 255, 255, 0.5);
}

.warning-tooltip {
    margin-right: 15px;
}

.is-warning {
    color: $colorWarning;
}

.alert-success {
    a {
        color: $darkGreen;
        text-decoration: underline;
    }
}

.header-info {
    margin: 40px 0 45px 0;

    h1 {
        font-size: 24px;
        margin-bottom: 0;
    }

    .breadcrumb {
        margin-bottom: 0;
    }
}