{% extends "@InnomedioBackendTheme/backend_base.html.twig" %}

{% block content %}
    <div class="main-content mb-60">
        <div class="card">
            <div class="card-body p-0">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>{{ 'innomedio.backend_theme.global.date'|trans }}</th>
                            <th>{{ 'innomedio.backend_theme.global.user'|trans }}</th>
                            <th>{{ 'innomedio.backend_theme.global.type'|trans }}</th>
                            <th>Object</th>
                            <th>ObjectID</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for log in logs %}
                            <tr>
                                <td class="align-middle">{{ log.loggedAt|date('d/m/Y H:i:s') }}</td>
                                <td class="align-middle">{{ log.username }}</td>
                                <td class="align-middle">{{ log.action }}</td>
                                <td class="align-middle">{{ log.objectClass }}</td>
                                <td class="align-middle">{{ log.objectId }}</td>
                                <td class="align-middle text-right"><a href="#" class="btn btn-xs btn-success loggable-btn" data-id="{{ log.id }}"><i class="fa fa-search"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="loggable-detail" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="loggable-detail-content">

            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $('body').on('click', '.loggable-btn', function(e) {
            e.preventDefault();

            LoaderComponent.show();

            var id = $(this).data('id');
            $('#loggable-detail-content').empty();

            $.post('{{ url('innomedio.backend_theme.loggable.popup') }}', {id: id}, function(html) {
                LoaderComponent.hide();
                $('#loggable-detail-content').html(html);
                $('#loggable-detail').modal('toggle');
            });
        });
    </script>
{% endblock %}