{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% if collector.isBackend %}
        {% set icon %}
            <span style="opacity: 0.7; margin-right: 5px;">{% include '@InnomedioBackendTheme/profiler/backend_sidebar_icon.html.twig' %}</span>
            <span class="sf-toolbar-value">Sidebar</span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>Items</b>
                <span>{{ collector.sidebarAmount }}</span>
            </div>
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig') }}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">{% include "@InnomedioBackendTheme/profiler/backend_sidebar_icon.html.twig" %}</span>
        <strong>Backend sidebar</strong>
    </span>
{% endblock %}

{% block panel %}
    {# Optional, for showing the most details. #}
    <h2>Backend sidebar</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Key</th>
            <th>Parent</th>
            <th>Order</th>
        </tr>

        {% for mainItem in collector.sidebarItems %}
            <tr>
                <td>{{ mainItem.item.name|trans }}</td>
                <td>{{ mainItem.item.tag }}</td>
                <td>{{ mainItem.item.parent }}</td>
                <td>{{ mainItem.item.order }}</td>
            </tr>

            {% if mainItem.items|default(false) %}
                {% for subItem in mainItem.items %}
                    <tr>
                        <td>{{ subItem.name|trans }}</td>
                        <td>{{ subItem.tag }}</td>
                        <td>{{ subItem.parent.tag }}</td>
                        <td>{{ subItem.order }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}