<script type="text/javascript" src="/assets/backend/vendor/summernote/summernote.min.js"></script>
<link href="/assets/backend/vendor/summernote/summernote.css" rel="stylesheet">

<style>
    .note-editor.note-frame, .note-popover.note-frame {
        border-color: #f1f2f3;
    }
</style>

<script type="text/javascript">
    $(document).ready(function() {
        var options = {
            dialogsInBody: true,
            dialogsFade: true,
            height: {{ height|default(300) }}
        };

        options.styleTags = ['h2', 'h3', 'h4', 'p', 'blockquote'];

        options.toolbar = [
            ['para_style', ['style']],
            ['style', ['bold', 'italic', 'underline']],
            {# ['font', ['strikethrough', 'superscript', 'subscript']], #}
            ['para', ['ul', 'ol'{#, 'paragraph' #}{% if (showHr|default(false)) %}, 'hr'{% endif %}]],

            {% if (showTables|default(false)) %}
                ['table', ['table']],
            {% endif %}

            ['insert', ['link'{% if (showImage|default(false)) %}, 'picture'{% endif %}{% if (showVideo|default(false)) %}, 'video'{% endif %}]],
            ['do', ['undo', 'redo']],

            {% if is_granted('ROLE_ROOT') %}
                ['misc', ['codeview']]
            {% endif %}
        ];

        {% if plainPaste|default(true) %}
            options.callbacks = {
                onPaste: function (e) {
                    var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
                    e.preventDefault();
                    document.execCommand('insertText', false, bufferText);
                }
            };
        {% endif %}

        $('.summernote').summernote(options);
    });
</script>