{% use "bootstrap_base_layout.html.twig" %}

{% block form_start %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' row')|trim}) %}
    {{- parent() -}}
{% endblock %}

{% block form_label %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' text-fader')|trim}) %}
    {{- parent() -}}
{% endblock %}

{% block form_widget_simple %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
    {{- parent() -}}
{% endblock %}

{% block submit_widget %}
    <div class="col-md-12">
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn btn-bold btn-primary')|trim}) %}
        {{- parent() -}}
    </div>
{% endblock %}

{% block button_row -%}
    {{- form_widget(form) -}}
{%- endblock button_row %}

{%- block checkbox_widget -%}
    {% if (type|default(null) and type == 'switch') %}
        <label class="switch">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            <span class="switch-indicator"></span>
            <span class="switch-description">
                {% if translation_domain == false %}
                    {{- label -}}
                {% else %}
                    {{- label|trans({}, translation_domain) -}}
                {% endif %}
            </span>
        </label>
    {% elseif (type|default(null) and type == 'checkboxes') %}
        <div class="custom-controls-stacked">
            <label class="custom-control custom-checkbox">
                {% set attr = attr|merge({'class': (attr.class|default('') ~ ' custom-control-input')|trim}) %}
                <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />

                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">
                    {% if translation_domain == false %}
                        {{- label -}}
                    {% else %}
                        {{- label|trans({}, translation_domain) -}}
                    {% endif %}
                </span>
            </label>
        </div>
    {% else %}
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {% endif %}
{%- endblock checkbox_widget -%}

{%- block form_row -%}
    {{- form_label(form) -}}
    {{- form_errors(form) -}}
    {{- form_widget(form) -}}
{%- endblock form_row -%}

{%- block repeated_row -%}
    <div class="form-group col">
        {{- block('form_rows') -}}
    </div>
{%- endblock repeated_row -%}

{%- block form_widget_compound -%}
    {%- if form is rootform -%}
        {{ form_errors(form) }}
    {%- endif -%}
    {{- block('form_rows') -}}
    {{- form_rest(form) -}}
{%- endblock form_widget_compound -%}

{% block choice_widget_expanded -%}
    {%- if '-inline' in label_attr.class|default('') -%}
        {%- for child in form %}
            {{- form_widget(child, {
                parent_label_class: label_attr.class|default(''),
                translation_domain: choice_translation_domain,
            }) -}}
        {% endfor -%}
    {%- else -%}
        <div {{ block('widget_container_attributes') }}>
            <div class="switch-stacked">
            {%- for child in form %}
                {{- form_widget(child, {
                    parent_label_class: label_attr.class|default(''),
                    translation_domain: choice_translation_domain,
                    type: type|default(null)
                }) -}}
            {%- endfor -%}
            </div>
        </div>
    {%- endif -%}
{%- endblock choice_widget_expanded %}

{%- block datetime_widget -%}
    {% if not value %}
        {% set value = 'now'|date('d/m/Y H:i') %}
    {% endif %}

    {% if dateTimePicker|default(false) %}
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <input type="text" {{ block('widget_attributes') }} value="{{ value|split(' ')[0] }}" class="form-control datetime-picker-date" data-provide="datepicker" data-date-today-highlight="true" data-date-format="dd/mm/yyyy">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>

            <div class="col">
                <div class="input-group">
                    <input type="text" class="form-control datetime-picker-time" value="{{ value|split(' ')[1] }}" data-provide="timepicker" data-show-meridian="false">
                    <span class="input-group-addon">
                        <i class="ti-timer"></i>
                    </span>
                </div>
            </div>

            <div class="hidden-datetime" style="display: none;">
                {{- parent() -}}
            </div>
        </div>
    {%- else -%}
        {{- parent() -}}
    {%- endif -%}
{%- endblock datetime_widget -%}

{% block themed_checkbox_widget %}
    <label class="custom-control custom-checkbox">
        {{ form_widget(form) }}

        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{- label|trans -}}</span>
    </label>
{% endblock %}

{% block switch_widget %}
    <label class="switch {{ attr.class|default('') }}">
        {{ form_widget(form) }}

        <span class="switch-indicator"></span>
        <span class="switch-description">{{- label -}}</span>
    </label>
{% endblock %}
