.preloader{display:none;background-color:rgba(255,255,255,0.5)}.warning-tooltip{margin-right:15px}.is-warning{color:#faa64b}.alert-success a{color:#155724;text-decoration:underline}.header-info{margin:40px 0 45px 0}.header-info h1{font-size:24px;margin-bottom:0}.header-info .breadcrumb{margin-bottom:0}
