{% extends "@InnomedioBackendTheme/backend_base.html.twig" %}

{% block content %}
    <form method="post" action="{{ url('innomedio.backend_theme.settings.submit', {id: setting.id}) }}" class="ajax-form">
        <div class="main-content">
            <div class="row">
                <div class="col-lg-6 {% if not (is_granted('ROLE_ROOT')) %} d-none{% endif %}">
                    <div class="card">
                        <h4 class="card-title">{{ 'innomedio.backend_theme.data'|trans }} <span class="opacity-40 fs-12">(enkel zichtbaar als root)</span></h4>
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="text-fader required" for="code">Code</label>
                                    <input type="text" value="{{ setting.code|default('') }}" id="code" name="code" required="required" class="form-control" />
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="text-fader" for="description">Omschrijving</label>
                                    <input type="text" value="{{ setting.description|default('') }}" id="description" name="description" class="form-control" />
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="text-fader required" for="description">Type</label>

                                    <select data-provide="selectpicker" name="type" class="form-control">
                                        <option{% if setting and setting.type == 'input' %} selected{% endif %}>input</option>
                                        <option{% if setting and setting.type == 'text' %} selected{% endif %}>text</option>
                                        <option{% if setting and setting.type == 'checkbox' %} selected{% endif %}>checkbox</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="root"{% if setting and setting.rootSetting %} checked{% endif %}>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Alleen door root in te stellen</span>
                                    </label>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="multilingual"{% if setting and setting.multilingual %} checked{% endif %}>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Meertalig</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 {% if not setting.id %} d-none{% endif %}">
                    <div class="card">
                        <h4 class="card-title">{{ setting.code }}<br /><span class="opacity-40 fs-12">{{ setting.description }}</span></h4>
                        <div class="card-body pb-0">
                            <div class="row">
                                {% if (setting.type == 'input') %}
                                    {# ############################################################### #}
                                    {# INPUT #}
                                    {# ############################################################### #}
                                    {% if setting.multilingual %}
                                        {% for language in languages %}
                                            <div class="form-group col-md-12">
                                                <label class="text-fader">{{ language.name }}</label>
                                                <input type="text" name="value[{{ language.id }}]" value="{{ values[language.id]|default('') }}" class="form-control" />
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="form-group col-md-12">
                                            <input type="text" value="{{ setting.value }}" name="value" class="form-control" />
                                        </div>
                                    {% endif %}
                                {% elseif (setting.type == 'text') %}
                                    {# ############################################################### #}
                                    {# TEXTAREA #}
                                    {# ############################################################### #}
                                    {% if setting.multilingual %}
                                        {% for language in languages %}
                                            <div class="form-group col-md-12">
                                                <label class="text-fader">{{ language.name }}</label>
                                                <textarea name="value[{{ language.id }}]" class="form-control" rows="5">{{ values[language.id]|default('') }}</textarea>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="form-group col-md-12">
                                            <textarea name="value" class="form-control" rows="8">{{ setting.value }}</textarea>
                                        </div>
                                    {% endif %}
                                {% elseif (setting.type == 'checkbox') %}
                                    {# ############################################################### #}
                                    {# CHECKBOX #}
                                    {# ############################################################### #}
                                    {% if setting.multilingual %}
                                        {% for language in languages %}
                                            <div class="form-group col-md-12">
                                                <label class="text-fader">{{ language.name }}</label><br />
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" name="value[{{ language.id }}]" {% if (values[language.id] is defined and values[language.id] == 1) %} checked{% endif %}>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description"></span>
                                                </label>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="form-group col-md-12">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="value"{% if setting.value == 1 %} checked{% endif %}>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description"></span>
                                            </label>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">{{ 'innomedio.backend_theme.global.save'|trans }}</button>
        </div>
    </form>
{% endblock %}