{% extends "@InnomedioBackendTheme/backend_base.html.twig" %}

{% block content %}
    <div class="main-content mb-60">
        {% if settings %}
            <div class="media-list media-list-divided media-list-hover" data-provide="selectall">
                <div class="media-list-body bg-white b-1">
                    {% for setting in settings %}
                        {% if not setting.rootSetting or (setting.rootSetting and is_granted('ROLE_ROOT')) %}
                            <div class="item-to-remove media align-items-center">
                                <a class="media-body text-truncate">
                                    <h5>{{ setting.code }}</h5>
                                    <small>{{ setting.description }}</small>
                                </a>

                                <div class="dropdown">
                                    <a class="text-lighter" href="#" data-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt rotate-90"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                        <a class="dropdown-item" href="{{ url('innomedio.backend_theme.settings.form', {id: setting.id}) }}"><i class="fa fa-fw fa-pencil"></i> {{ 'innomedio.backend_theme.global.edit'|trans }}</a>

                                        {% if is_granted('ROLE_ROOT') %}
                                            <a class="dropdown-item" href="{{ url('innomedio.backend_theme.settings.logs', {id: setting.id}) }}"><i class="fa fa-fw fa-file-text-o"></i> {{ 'innomedio.backend_theme.global.logs'|trans }}</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="ajax-remove dropdown-item"
                                               href="{{ url('innomedio.backend_theme.settings.remove', {id: setting.id}) }}"
                                            ><i class="fa fa-fw fa-trash"></i> {{ 'innomedio.backend_theme.global.remove'|trans }}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    {% if is_granted('ROLE_ROOT') %}
        <div class="fab fab-fixed">
            <a class="btn btn-float btn-primary" href="{{ url('innomedio.backend_theme.settings.form') }}" title="" data-provide="tooltip" data-original-title="{{ 'innomedio.backend_theme.global.add'|trans }}"><i class="ti-plus"></i></a>
        </div>
    {% endif %}
{% endblock %}